body {
    border-left: 5px lightgray solid;
    min-height: 100vh;
    font-family: sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    color: tomato;
    font-size: 50px;
}

.articleHead {
    font-size: 50px;
}

header, main, footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.top-nav {
    display: flex;
    justify-content: space-between;
}
.top-nav > li > a {
    color: lightgray
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
}

.bottom-nav > li > a {
    color: tomato;
}

.continue {
    align-self: right;
    color: tomato;
    float: right;
    font-weight: bold;
}

article {
    margin-bottom: 4rem;
    border-bottom: 1px lightgray solid;
    padding-bottom: 2rem;
}

p {
    line-height: 1.5;
}

p::first-letter {
    color: lightgray;
    font-size: 500%;
    float: left;
    line-height: 85%;
    padding: 1rem;
    margin: 0 1rem 0 0;
}

span {
    color: lightgray;
}
